@charset "UTF-8";
/* 공통 */
:root {
  --main-color: #A2E04E;
  --background-color: #AEDF9B;
  --sub-color: #888888;
  --sub-color2: #DCDCDC;
  --green-btn: #47A945;
  --red-color: rgb(229, 89, 59);
}

body {
  font-family: "NanumSquareNeo-Variable";
}

a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  padding: 20px 60px;
}

.flex--row {
  display: flex;
}

.flex--col {
  display: flex;
  flex-direction: column;
}

.flex__align--end {
  justify-content: end;
}

.flex__align--between {
  justify-content: space-between;
}

.flex__align--center {
  justify-content: center;
}

.position--relative {
  position: relative;
}

.position--absolute {
  position: absolute;
}

/* nav */
.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding-top: 0px;
}
.navbar .nav__box {
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border-bottom: #0B6623 solid 10px;
}
.navbar .nav__box .nav__box--wrap {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 1rem 0.75rem;
}

.small--nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__logo--img {
  height: 100%;
  min-width: 190px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__menu {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.hearder__btn--box {
  margin: 0 36px 0 0;
  display: flex;
  flex-direction: row;
  align-items: end;
  font-size: 1.25rem;
}

.header__btn--margin {
  margin: 0 16px 4px 16px;
}
.header__btn--margin:hover {
  color: var(--main-color) !important;
  cursor: pointer;
}

.active-button {
  color: #0B6623 !important;
  font-weight: bold;
}

.hearder__search--box {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-left: 36px;
}
.hearder__search--box .search--wrap {
  border: var(--main-color) 3px solid;
  border-radius: 50rem;
  background-color: white;
  margin-bottom: 4px;
  display: flex;
  flex-direction: row;
}

.header__search--text {
  border: 0px;
  border-radius: 50rem;
  padding: 8px 48px 8px 24px;
  background-color: white;
  width: 400px;
}
.header__search--text:focus {
  outline: none !important;
}

.header__personalbox {
  display: flex;
  flex-direction: row;
  align-items: end;
}
.header__personalbox .personal--wrap {
  font-size: 1.25rem;
  display: flex;
  flex-direction: row;
}

.header__user--item {
  margin: 0 10px;
  font-size: 1.2rem;
}
.header__user--item:hover {
  color: var(--main-color);
  cursor: pointer;
}

#notification-button {
  margin-right: 8px;
}
#notification-button:hover {
  color: var(--main-color);
  cursor: pointer;
}

.list-group,
.list-group-item {
  font-size: 13px;
}

.notification-popup {
  position: absolute;
  top: 200px;
  right: 10px;
  z-index: 800;
  background-color: rgba(255, 255, 255, 0);
  width: 350px;
  height: 300px;
}

.header__profile {
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  padding: 1px;
  border: solid 3px var(--background-color);
}

.header__profilebox {
  position: relative;
  width: 50px;
  height: 50px;
}

.dropdown-menu[data-bs-popper] {
  left: -100px;
}

.dropdown-item:hover {
  color: var(--main-color);
}

/* footer */
#wrapper {
  height: auto;
  min-height: calc(100vh - 485px);
}

.footer {
  background-color: #DCDCDC;
  height: 2rem;
}
.footer .footer--wrap {
  text-align: center;
  padding: 40px 0;
}

.footer__flex--wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__flex--wrap .footer__logo {
  width: 100px;
  height: 100px;
}

.footer__middle--warp {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}
.footer__middle--warp .footer__box {
  margin-right: 16px;
}
.footer__middle--warp .footer__box ul {
  padding: 0;
  color: #4b5563;
  font-size: 16px;
  text-align: center;
}
.footer__middle--warp .footer__box ul li {
  margin-bottom: 4px;
}

.footer__middletitle {
  font-weight: 600px;
  font-size: 20px;
  text-transform: uppercase;
}

.footer__bottom {
  font-size: 14px;
  color: #6B7280;
}

.footer--sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.footer__bottom--icon {
  color: #4b5563;
  margin-right: 16px;
}

/* 반응형 */
@media (max-width: 1380px) {
  .hearder__btn--box {
    margin-right: 18px;
  }
  .header__btn--margin {
    margin: 0 8px 4px 8px;
    font-size: 16px;
  }
  .hearder__search--box {
    margin: 0 0 0 18px;
  }
}
@media (max-width: 1200px) {
  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .small--nav {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
  .small--hidden {
    display: none !important;
  }
  .hearder__btn--box {
    margin-top: 18px;
    margin-right: 0px;
  }
  .header--profilebox {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
@media (max-width: 760px) {
  .wrap {
    padding: 20px 0;
  }
  .footer__logo--wrap {
    margin-bottom: 48px;
  }
}
@media (max-width: 576px) {
  .header__btn--margin {
    margin: 0 5px 4px 5px;
    margin: 0px 5px;
    font-size: 12px;
  }
  .header__search--text {
    width: 100%;
  }
  .footer__flex--wrap {
    display: block;
  }
  .footer__flex--wrap .footer__logo {
    margin: auto;
  }
  .footer__middle--warp {
    display: flex;
    flex-direction: column;
  }
  .footer__middle--warp .footer__box {
    margin: 0 0 8px 0;
  }
  .footer__bottom {
    text-align: center;
  }
}
/* 폰트 */
@font-face {
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2") format("woff2");
  font-family: "NanumSquareNeo-Variable";
  font-weight: normal;
  font-style: normal;
}/*# sourceMappingURL=base_s.css.map */