$main-color: var(--main-color);

@mixin grid($count, $floor, $gap) {
  display: grid;
  grid-template-columns: repeat($count, $floor);
  grid-gap: $gap;
  @content;
}

@mixin flex($direction:row){
  display: flex;
  flex-direction: $direction;
  @content;
}

@mixin margin($top:0, $right:0, $bottom:0, $left:0){
  margin: $top $right $bottom $left;
}

// @mixin wrap($top-bottom, $side) {
//   padding: $top-bottom $side;
// }

// .index__wrap {
//   @include wrap(20px, 60px);
// }

/* 인기글 */
.postindex__Content--title {
  @include margin(16px);
  font: {
    size: 1.6rem;
    weight: bold;
    family: sans-serif;
  }
  border-bottom: 0px;
  padding: 8px 16px 0px;
  color: white;
}

.viewlist__btn {
  background-color: $main-color;
  border: $main-color 5px solid;
}

.likelist__btn {
  background-color: var(--background-color);
  border: var(--background-color) 5px solid;
}

.courselist__point{
  border: $main-color solid 5px;
  padding: 16px 8px;
}

.item {
  transition: 1s;
  &:hover {
    transform: scale(1.05);
  }
}


/* carousel */
.no-js .owl-carousel, .owl-carousel.owl-loaded {
  display: none;
}

.owl-carousel {
  position: relative;
 }
 
 .owl-carousel .owl-stage-outer {
   position: relative;
   border: none;
  }
 
 .owl-carousel .owl-prev,
 .owl-carousel .owl-next {
   position: absolute;
   top: 0;
   bottom: 0;
   margin: auto;
   background-color: #000; /* 배경색 설정 */
   color: #fff; /* 아이콘 색상 설정 */
   width: 40px; /* 버튼의 너비 */
   height: 40px; /* 버튼의 높이 */
   font-size: 24px; /* 아이콘 크기 */
   line-height: 40px; /* 버튼의 세로 중앙 정렬을 위한 line-height */
   text-align: center;
   border: solid 2px #777777 !important; 
   border-radius: 50%; /* 버튼을 원형으로 만들기 위한 border-radius 설정 */
 }
 
 .owl-carousel .owl-prev {
   left: 10px;
 }
 
 .owl-carousel .owl-next {
   right: 10px;
 }
 
 .owl-dots {
   text-align: center;
   padding-top: 15px;
 }
 
 .owl-dots button.owl-dot {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   display: inline-block;
   background: #C7EA46;
   margin: 0 3px;
 }
 
 .owl-dots button.owl-dot.active {
   background-color: #75a64a;
 }
 
 .owl-dots button.owl-dot:focus {
   outline: none;
 }
 

/* 전체글 */

.postindex__Content--title2 {
  @include margin(16px, 0, 16px, 10px);
  font: {
    size: 1.6rem;
    weight: bold;
    family: sans-serif;
  }

  span {
    color: $main-color;
    @include margin(0, 0, 0, 10px)
  }
}

.post-grid{
  @include grid(4, 1fr, 20px)
}

.post-item {
  @include flex(column) {
    align-items: center;
    min-width: 300px;
    display: block;
  }
  transition: 1s;
  &:hover {
    transform: scale(1.05);
  }

  a {
    position: relative;
  }
}

.postindex__post--imgbox {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;

  .postindex__post--img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }
}

.like__btn {
  position: absolute;
  top: 10px;
  right: 10px;

  .like__btn--style {
    z-index: 1;
    font: {
      weight: bold;
      size: 24px;
    }
    color: var(--red-color)
  }
}

.title--wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font: {
    weight: bold;
    size: 1.5rem;
  }
}

.postindex__post--user{
  @include flex();
  @include margin(0, 0, 8px);

  .postindex__post--userimgbox{
    position: relative;
    width: 40px;
    height: 40px;
    @include margin(3px, 5px, 5px);

    .postindex__post--userimg {
      object-fit: cover;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      border: 1px solid #DBDBDB;
      border-radius: 100%;
    }

    .level5--img {
      position: absolute;
      width: 21.5px !important;
      height: 21.5px !important;
    }
  }

  .postindex__post--username {
    @include flex() {
      align-items: center;
    }
    @include margin(0, 0, 4px);
    font: {
      weight: normal;
      size: 0.875rem;;
    }
    color: #374151;
  }
}


.likes__box {
  @include flex(row-reverse){
    justify-content: space-between;
  }

  .postindex__post--likecount {
    @include margin(0, 5px)
  }
}

#loadMoreBtn {
  margin-top: 20px;
}

.postindex__searchbar {
  width: 60%;
  margin: 50px auto;
}


/* posts_search */ 
.postindex__search--title {
  @include margin(16px, 0, 25px, 30px);
  font: {
    size: 1.6rem;
    weight: bold;
    family: sans-serif;
  }
  .postindex__search--title2 {
    color: $main-color;
  }
}

.highlight {
  color: $main-color;
}

.postindex__nosearching {
  @include flex() {
    justify-content: center;
  }
  padding: 100px 0;
  font: {
    size: 1.2rem;
    family: sans-serif;
  }
}


/* 반응형 */ 

@mixin xl{
  @media (max-width: 1530px){ 
    @content;
  }
}

@mixin lg{
  @media (max-width: 1280px){ 
    @content;
  }
}

@mixin md{
  @media (max-width: 760px){ 
    @content;
  }
}

@mixin sm{
  @media (max-width: 450px){ 
    @content;
  }
}

@include xl {
  .post-grid {
    @include grid(3, 1fr, 20px)
  }
}

@include lg {
  .post-grid {
    @include grid(2, 1fr, 20px)
  }
}

@include md {
  .post-grid {
    @include grid(1, 1fr, 20px) {
      place-items: center;
    }
  }

  .index__wrap{
    padding: 20px 0px ;
  } 

  .postindex__searchbar {
    width: 100%;
    margin: 50px auto;
  }

  .post-item {
    min-width: 450px;
  }

  /* posts_search */ 
  .postindex__search--title {
    @include margin(16px, 0, 25px, 0px);
    font: {
      size: 1.6rem;
      weight: bold;
      family: sans-serif;
    }
  }
}

@include sm {
  .post-item {
    min-width: 250px;
  }

  .post-grid {
    place-items: stretch;
  }
}
