.wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.profile__article1 {
  width: 26%;
}

.profile__article3 {
  width: 66%;
}

.bar {
  font-size: 12px;
  line-height: 20px;
}

/* user */
.profile__userbox {
  width: 270px;
  border: solid var(--sub-color2) 1px !important;
  border-radius: 5px;
  padding: 30px 25px 20px;
  margin-top: 20px;
}

.profile__user--imgbox {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto 25px auto;
}
.profile__user--imgbox .profile__user--img {
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid var(--sub-color2) 1px !important;
  border-radius: 100%;
}

.profile__user--stat {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.profile__user--stat .profile__user--name {
  font-size: 25px;
  font-weight: bold;
}
.profile__user--stat .profile__user--expbar {
  position: relative;
  width: 70%;
  margin-bottom: 10px;
}
.profile__user--stat .profile__user--expbar .profile__user--expcount {
  position: absolute;
  left: 50%;
  color: #FFFFFF;
  transform: translateX(-50%);
}
.profile__user--stat .profile__user--follow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
.profile__user--stat .profile__user--follow .profile__user--followtext {
  margin-right: 5px;
  font-size: 14px;
  color: var(--sub-color);
}
.profile__user--stat .profile__user--follow .profile__user--followercount {
  font-size: 14px;
  font-weight: bold;
  color: var(--sub-color);
}
.profile__user--stat .profile__user--follow .profile__user--followercount:hover {
  color: var(--main-color);
}
.profile__user--stat .profile__user--follow .profile__user--followingcount {
  font-size: 14px;
  font-weight: bold;
  color: var(--sub-color);
}
.profile__user--stat .profile__user--follow .profile__user--followingcount:hover {
  color: var(--main-color);
}
.profile__user--stat .profile__user--edit {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile__user--stat .profile__user--edit .profile__user--editbtn {
  width: 60px;
  padding: 7px 15px;
  font-size: 12px;
  border: solid var(--sub-color2) 1px !important;
  border-radius: 5px;
}
.profile__user--stat .profile__user--edit .profile__user--editbtn:hover {
  opacity: 0.8;
}
.profile__user--stat .profile__user--followbtnbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile__user--stat .profile__user--followbtnbox button {
  width: 120px;
  padding: 7px 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
}
.profile__user--stat .profile__user--followbtnbox button:hover {
  opacity: 0.8;
}
.profile__user--stat .profile__user--followbtnbox .profile__user--unfollowbtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: var(--sub-color);
  border: solid var(--sub-color2) 1px !important;
}
.profile__user--stat .profile__user--followbtnbox .profile__user--followbtn {
  color: #FFFFFF;
  background-color: var(--main-color) !important;
  border: solid var(--main-color) 1px !important;
}

.profile__user--messagebox {
  margin: 24px 0;
}
.profile__user--messagebox .profile__user--message {
  text-align: center;
}

.profile__user--info2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: var(--sub-color2) 1px solid;
  padding: 24px 0 6px;
}
.profile__user--info2 button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: var(--sub-color);
}
.profile__user--info2 button:hover {
  color: var(--main-color);
}
.profile__user--info2 .profile__user--infoactivebtn {
  color: var(--main-color) !important;
}
.profile__user--info2 .profile__user--info2cnt {
  font-weight: bold;
}

/* content */
.profile__content--nonewrite {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--sub-color);
}

.profile__contentbox {
  width: 100%;
  padding: 20px 10px 0 10px;
  margin: 0px auto;
}

.profile__content--wrap {
  margin-bottom: 60px;
}
.profile__content--wrap .profile__content--titletext {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 20px;
}
.profile__content--wrap .profile__content--titletext span {
  margin-left: 5px;
  color: var(--main-color);
}
.profile__content--wrap .profile__content--contentblock {
  height: 200px;
  border: solid var(--sub-color2) 1px !important;
  border-radius: 5px;
  padding: 10px;
  position: relative;
}

.profile__content--postbox {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.profile__content--postbox .profile__content--post {
  position: relative;
  box-sizing: border-box;
  width: 140px;
  height: 170px;
  margin: 0 5px;
}
.profile__content--postbox .profile__content--post .profile__content--posttext {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__content--imgbox {
  box-sizing: border-box;
  width: 140px;
  height: 140px;
}
.profile__content--imgbox .profile__content--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.profile__content--imgbox .profile__content--noimg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border: solid #dbdbdb 1px !important;
  border-radius: 8px;
}

/* follow */
.profile__content--followcontent {
  border: solid var(--sub-color2) 1px !important;
  border-radius: 5px;
  padding: 10px;
  min-height: 200px;
  max-height: 450px;
  overflow-y: auto;
  white-space: nowrap;
}

.profile__follows--list {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
}

.profile__follow--item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  padding: 10px 0;
}
.profile__follow--item:hover {
  opacity: 0.5;
}

.profile__follow--imgbox {
  position: relative;
  width: 40px;
  height: 40px;
}
.profile__follow--imgbox .profile__follow--img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: solid var(--sub-color2) 1px !important;
  border-radius: 100%;
}

.profile__follow--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 15px;
  width: 350px;
}
.profile__follow--info .profile__follow--name {
  font-size: 14px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.profile__follow--info .profile__follow--message {
  font-size: 12px;
  font-weight: bold;
  color: var(--sub-color);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.profile__follow--followbtnbox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.profile__follow--followbtnbox button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 40px;
  font-size: 13px;
  font-weight: bold;
  padding: 5px 8px;
  border-radius: 5px;
}
.profile__follow--followbtnbox button:hover {
  opacity: 0.8;
}
.profile__follow--followbtnbox .profile__follow--unfollowbtn {
  color: var(--sub-color);
  border: solid var(--sub-color2) 1px !important;
}
.profile__follow--followbtnbox .profile__follow--followbtn {
  color: #FFFFFF;
  background-color: var(--main-color) !important;
  border: solid var(--main-color) 1px !important;
}

@media (max-width: 1025px) {
  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .profile__article1 {
    width: 100%;
  }
  .profile__article2 {
    width: 100%;
    height: 8%;
    padding: 20px 0;
  }
  .profile__article3 {
    width: 100%;
  }
  .profile__userbox {
    width: 100%;
  }
  .profile__userbox .profile__user--info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .profile__user--imgbox {
    flex-basis: 20%;
  }
  .profile__user--stat {
    flex-basis: 80%;
    flex-direction: column;
    text-align: start;
    align-items: start;
    justify-content: flex-end;
    padding-left: 30px;
    margin-bottom: auto;
  }
  .profile__user--stat .profile__user--edit {
    justify-content: start;
  }
  .profile__user--stat .profile__user--follow {
    justify-content: start;
  }
  .profile__user--stat .profile__user--followbtnbox {
    justify-content: start;
  }
  .profile__user--stat .profile__user--expbar {
    width: 80%;
  }
  .profile__user--messagebox {
    width: 80%;
    margin: 12px 0 24px auto;
    padding-left: 30px;
  }
  .profile__user--messagebox .profile__user--message {
    text-align: start;
  }
  .profile__user--info2 {
    justify-content: center;
  }
  .profile__user--info2 button {
    width: 33.3%;
    font-size: 16px;
  }
  .profile__follow--info {
    width: 250px;
  }
}
@media (max-width: 500px) {
  .profile__user--imgbox {
    flex-basis: 40%;
  }
  .profile__user--stat {
    flex-basis: 60%;
  }
  .profile__user--stat .profile__user--expbar {
    width: 100%;
  }
  .profile__follow--info {
    width: 150px;
  }
}/*# sourceMappingURL=profile.css.map */