{% extends 'base.html' %}
{% load static %}
{% block style %}
<style>
</style>
<link rel="stylesheet" href="{% static 'css/mountains_course.css' %}">
{% endblock style %}

{% block content %}
<div class="wrap">
  <div class="title__box">
    <h1>{{ mountain.name }}의 코스</h1>
  </div>
  <hr>

  <form id="sort-form" class="select__form">
    <select name="sort" id="sort-select" class="select__box focus:outline-none">
      <option value="">기본</option>
      <option value="bookmarks">북마크순</option>
      <option value="diff">난이도순</option>
      <option value="distance">거리순</option>
      <option value="hidden_time">소요시간순</option>
    </select>
  </form>
  
  <ul class="my-4">
    {% for course in courses %}
    <li class="course--wrap">
      <!-- 지도 -->
      <div id="map-{{ course.pk }}" class="course--map"></div>
      <div class="course--infobox">
        <p class="coursetitle--font">{{ course.crs_name_detail }}</p>
        <table>
          <tr>
            <th>총거리</th>
            <td>{{ course.distance }}km</td>
          </tr>
          <tr>  
            <th>소요시간</th>
            <td>{{ course.duration }}</td>
          </tr>
          <tr>
            <th>난이도</th>
            <td>{{ course.diff }}</td>
          </tr>
        </table>
        <form class="download-form" data-mountain-id="{{ mountain.pk }}" data-gpx-id="{{course.pk}}">
          {% csrf_token %}
          <input class="my-2 font-bold" type="submit" value="💾  GPX 다운로드">
        </form>
        <div class="flex--row">
          <input type="checkbox" id="waypoint-checkbox-{{ course.pk }}" onchange="toggleWaypoints({{ course.pk }})">
          <label for="waypoint-checkbox-{{ course.pk }}">경유지 표시</label>
        </div>
        <form class="bookmark-form" data-course-id="{{course.pk}}" data-mountain-id="{{mountain.pk}}">
          {% csrf_token %}
          {% if request.user in course.bookmarks.all %}
          <button id="bookmark-btn-{{ course.pk }}" type="submit"  class="bi bi-bookmark-fill btn--spot" data-mountain-pk="{{ mountain.pk }}" data-course-pk="{{ course.pk }}">
          </button>
          {% endif %}
          <button id="bookmark-btn-{{ course.pk }}" type="submit"  class="bi bi-bookmark btn--spot" data-mountain-pk="{{ mountain.pk }}" data-course-pk="{{ course.pk }}">
          </button>
        </form>
      </div>
    </li>
      <br>
      {% empty %}
        <li>No courses available.</li>
    {% endfor %}
  </ul>
      
    <!-- 페이지네이션 -->
    <div class="pagination mt-4">
      <div class="mx-auto">
        {% if is_paginated %}
          {% if page_obj.has_previous %}
            <a href="?page=1{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="page__btn ">&lt;&lt;</a>
          {% endif %}

          {% for num in page_obj.paginator.page_range %}
            {% if num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
              {% if num == page_obj.number %}
                <span class="page__btn pagination__link--active">{{ num }}</span>
              {% else %}
                <a href="?page={{ num }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="page__btn ">{{ num }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}" class="page__btn ">&gt;&gt;</a>
          {% endif %}
        {% endif %}
      </div>
  </div>
</div>

{% endblock content %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="{% static 'js/list_order.js' %}"></script>
<script src="{% static 'js/mountain_course.js' %}"></script>
<script src="{% static 'js/apikey.js' %}"></script>
<script>

// 카카오맵 API 로드 후 초기화 함수 호출
 // 코스별 지도를 저장할 객체
var mapList = {};
loadKakaoMapScript(function () {
  var course_data = {{ courses_data|safe }};
  var detail_data = {{ detail_data|safe }};
  {% for course in courses %}
    var courseId = {{ course.pk }};
    var courseInfo = JSON.parse(course_data[courseId]);
    var courseDetail = JSON.parse(detail_data[courseId]);
    initMap(courseId, courseInfo, courseDetail);
  {% endfor %}
});
</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock javascript %}