<footer class="footer">
  <div>
    <div class="footer--wrap">
      <div style="height: 100%; background-color:white;">
        <div class="mx-auto w-100 py-5 py-5-lg" style="max-width: 1400px;">
          <div class="footer__flex--wrap">
            <div class="footer__logo--wrap">
              <a href="#" class="">
                <img src="/static/img/nav_logo.png" alt="logo" class="footer__logo">
              </a>
            </div> 
            <div class="footer__middle--warp">
              <div class="footer__box">
                <h2 class="footer__middletitle">Resources</h2>
                <ul >
                  <li>
                    <a href="https://flowbite.com/">Flowbite</a>
                  </li>
                  <li >
                    <a href="https://tailwindcss.com/">Tailwind CSS</a>
                  </li>
                  <li>
                    <a href="https://getbootstrap.com/">Bootstrap CSS</a>
                  </li>
                </ul>
              </div>
              <div class="footer__box">
                <h2 class="footer__middletitle">Follow us</h2>
                <ul>
                  <li>
                    <a href="https://github.com/themesberg/flowbite">Github</a>
                  </li>
                  <li>
                    <a href="https://discord.gg/4eeurUVvTy">Discord</a>
                  </li>
                </ul>
              </div>
              <div class="footer__box">
                <h2 class="footer__middletitle">Legal</h2>
                <ul>
                  <li>
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li>
                    <a href="#">Terms &amp; Conditions</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="my-3" style="color: #4b5563;">
          <div class="footer__middle--warp ">
            <span class="footer__bottom ">© 2023 Flowbite™. All Rights Reserved.
            </span>
            <div class="footer__flex--wrap">
              <a href="#" class="footer__bottom--icon">
                <i class="bi bi-facebook"></i>
                <span class="footer--sr-only">Facebook page</span>
              </a>
              <a href="#" class="footer__bottom--icon">
                <i class="bi bi-instagram"></i>
                <span class="footer--sr-only">Instagram page</span>
              </a>
              <a href="#" class="footer__bottom--icon">
                <i class="bi bi-twitter"></i>
                <span class="footer--sr-only">Twitter page</span>
              </a>
              <a href="#" class="footer__bottom--icon">
                <i class="bi bi-github"></i>
                <span class="footer--sr-only">GitHub account</span>
              </a>
              <a href="#" class="footer__bottom--icon">
                <i class="bi bi-dribbble"></i>
                <span class="footer--sr-only">Dribbble account</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>