<footer style="background-color: #DCDCDC; height: 2rem;">
  <div>
    <div class="footer--wrap">
      <div class="h-100 bg-white">
        <div class="mx-auto w-100 py-5 py-5-lg" style="max-width: 1400px;">
          <div class="footer__flex--wrap">
            <div class="mb-5 mb-0-md">
              <a href="#" class="">
                <img src="/static/img/nav_logo.png" alt="logo" class="footer__logo">
              </a>
            </div>
            <div class="mb-2 footer__middle--warp">
              <div class="footer__box">
                <h2 class="footer__middletitle">Resources</h2>
                <ul class="fs-5">
                  <li class="mb-1 ">
                    <a href="https://flowbite.com/" class="footer__middlecontent">Flowbite</a>
                  </li>
                  <li class="mb-1">
                    <a href="https://tailwindcss.com/" class="footer__middlecontent">Tailwind CSS</a>
                  </li>
                  <li class="mb-1">
                    <a href="https://getbootstrap.com/" class="footer__middlecontent">Bootstrap CSS</a>
                  </li>
                </ul>
              </div>
              <div class="mb-2 footer__box">
                <h2 class="footer__middletitle">Follow us</h2>
                <ul class="m-0">
                  <li class="mb-1">
                    <a href="https://github.com/themesberg/flowbite" class="footer__middlecontent">Github</a>
                  </li>
                  <li class="mb-1">
                    <a href="https://discord.gg/4eeurUVvTy" class="footer__middlecontent">Discord</a>
                  </li>
                </ul>
              </div>
              <div class="mb-2 footer__box">
                <h2 class="footer__middletitle">Legal</h2>
                <ul class="fs-6">
                  <li class="mb-1">
                    <a href="#" class="footer__middlecontent">Privacy Policy</a>
                  </li>
                  <li class="mb-1">
                    <a href="#" class="footer__middlecontent">Terms &amp; Conditions</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <hr class="my-3" style="color: #4b5563;">
          <div class="footer__middle--warp ">
            <span class="text-sm text-gray-500 sm:text-center">© 2023 Flowbite™. All Rights Reserved.
            </span>
            <div class="footer__flex--wrap">
              <a href="#" class="me-3"  style="color: #4b5563;">
                <i class="bi bi-facebook"></i>
                <span class="footer--sr-only">Facebook page</span>
              </a>
              <a href="#" class="me-3"  style="color: #4b5563;">
                <i class="bi bi-instagram"></i>
                <span class="footer--sr-only">Instagram page</span>
              </a>
              <a href="#" class="me-3"  style="color: #4b5563;">
                <i class="bi bi-twitter"></i>
                <span class="footer--sr-only">Twitter page</span>
              </a>
              <a href="#" class="me-3"  style="color: #4b5563;">
                <i class="bi bi-github"></i>
                <span class="footer--sr-only">GitHub account</span>
              </a>
              <a href="#" class="me-3"  style="color: #4b5563;">
                <i class="bi bi-dribbble"></i>
                <span class="footer--sr-only">Dribbble account</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>